<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIUserInterfaceStyle</key>
	<string>Dark</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>Configurations</key>
	<dict>
		<key>BASE_IMDB_URL</key>
		<string>$BASE_IMDB_URL</string>
		<key>BASE_YOUTUBE_URL</key>
		<string>$BASE_YOUTUBE_URL</string>
		<key>BASE_IMDB_IMAGE_URL</key>
		<string>$BASE_IMDB_IMAGE_URL</string>
		<key>API_AUTH_KEY_IMDB</key>
		<string>$API_AUTH_KEY_IMDB</string>
		<key>API_AUTH_KEY_YOUTUBE</key>
		<string>$API_AUTH_KEY_YOUTUBE</string>
		<key>API_TIMEOUT_INTERVAL_FOR_REQUEST</key>
		<string>$API_TIMEOUT_INTERVAL_FOR_REQUEST</string>
	</dict>
</dict>
</plist>
